
.main {
    flex: 1;
    padding: 60px;
    padding-top: 0;
}

.postImage {
    width: 100%;
    margin-bottom: 1rem;
}

.postTitle {
    font-size: 28px;
}

.postMeta {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.postMeta h3 {
    font-size: 12px;
}

.postBody {
    line-height: 1.8;
}

.postBody p {
    margin-bottom: 1rem;
    text-indent: 2rem;
}