.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding: 60px;
    padding-top: 0;
}

.jogos {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

/* Imagem do jogo em destaque */
.imageContainer {
    position: relative;
    width: 100%;
    max-width: 1120px;
    height: 0;
    padding-bottom: 35.7%; /* Proporção baseada no tamanho desejado (400px / 1120px) */
    margin: 0 auto;
}

.image {
    object-fit: cover;
    border-radius: 15px;
}

/* Grid de jogos */
.jogosContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.jogosContent img {
    width: 100%;
    max-width: 400px; /* Aumenta o tamanho das imagens dos jogos */
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.jogosContent img:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.sobre {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre h1 {
    margin-bottom: 2rem;
}

.sobreContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1100px;
    width: 100%;
}

.sobreContent p {
    max-width: 50vw;
    margin-right: 4rem;
    margin-bottom: 2rem;
    text-indent: 4rem;
    line-height: 1.5;
}

.sobreContent img {
    max-width: 50%;
    height: auto;
}

.carreira {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.carreira h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.vagasGrid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1150px;
    gap: 20px;
    justify-content: flex-start;
    margin: 0 auto;
}
