.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding: 60px;
    padding-top: 0;
}

.jogos {
    margin-bottom: 5rem;
}

.jogosContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.sobre {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre h1 {
    margin-bottom: 2rem ;
}

.sobreContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1100px;
    width: 100%;
}

.sobreContent p {
    max-width: 50vw;
    margin-right: 4rem;
    margin-bottom: 2rem;
    text-indent: 4rem;
    line-height: 1.5;
}

.sobreContent img {
    max-width: 50%;
    height: auto;
}

.carreira {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.carreira h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.vagasGrid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1150px;
    gap: 20px;
    justify-content: flex-start;
    margin: 0 auto;
}
