.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    padding: 60px;
    padding-top: 0;
}

.blogTitle {
    text-align: center;
    margin-bottom: 20px;
}

.postsGrid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    gap: 20px;
    justify-content: flex-start;
    margin: 0 auto;
}

.highlightedPost {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 3rem;

  }

  .highlightedPostImage {
    width: 600px;
    height: auto;
    object-fit: cover;
  }

  .highlightedPostContent {
    padding: 20px;
    text-align: left;
  }

  .highlightedPostContent h2 {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .highlightedPostContent p {
    font-size: 10px;
    margin-bottom: 20px;
  }